opencv-python==4.8.1.78
mediapipe==0.10.8
numpy==1.24.3
pyautogui==0.9.54
pynput==1.7.6
SpeechRecognition==3.10.0
pyaudio==0.2.13
pyttsx3==2.90
Pillow==10.1.0
customtkinter==5.2.1
pycaw==20240210
comtypes==1.2.0
screen-brightness-control==0.22.1
psutil==5.9.6
pywin32==306
keyboard==0.13.5
mouse==0.7.1
plyer==2.1
